@model SearchResponseViewModel

@{
    ViewData["Title"] = "Administration - News";
}

@section Styles {
    <link rel="stylesheet" href="~/css/administration.css" />
}

<small class="lead">
    Showing
    <span class="font-weight-bolder">@Model.NewsCount</span>
    results for
    <span class="font-weight-bolder">@ViewData["Title"]</span>
</small>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">CreatedOn</th>
            <th scope="col">ModifiedOn</th>
            <th scope="col">IsDeleted</th>
            <th scope="col">DeletedOn</th>
            <th scope="col">Options</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var news in Model.News)
        {
            <tr>
                <th scope="row">@news.Id</th>
                <td>@news.CreatedOn</td>
                <td>@news.ModifiedOn</td>
                <td>@news.IsDeleted</td>
                <td>@news.DeletedOn</td>
                <td>
                    <button class="btn btn-primary btn-sm">Update</button>

                    @{
                        string disabled = news.IsDeleted ? "disabled" : string.Empty;
                        <form class="delete-news-administration" method="post" asp-area="Administration" asp-action="Delete" asp-controller="News">
                            <input type="hidden" name="id" value="@news.Id" />
                            <button class="btn btn-danger btn-sm" @disabled>Delete</button>
                        </form>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

<partial name="_PaginationPartial" model="Model" />