@using Newsweek.Web.Models.News;

@model IEnumerable<NewsViewModel>

@{
    ViewData["Title"] = "Home - Newsweek";
}

<div class="text-center">
    <h1 class="display-4">Newsweek</h1>
    <p>Latest breaking news available. Stay informed on European and world news about economy, politics, sport, IT… with Newsweek</p>
</div>

@foreach (var grouped in Model.GroupBy(x => x.Subcategory.Category.Name))
{
    <div class="album dd">
        <h4 class="text-center font-weight-bold p-3">@grouped.Key</h4>
        <div class="row">
            @foreach (var news in grouped)
            {
                <div class="col-md-4 card shadow-lg" title="@news.Title">
                    <div class="top-news-title">@news.Title</div>

                    @if (!string.IsNullOrEmpty(news.MainImageUrl))
                    {
                        <img class="bd-placeholder-img card-img-top" src="@news.MainImageUrl" />
                    }

                    <div class="card-body">
                        <div class="card-text">@news.Description</div>
                    </div>
                </div>
            }
        </div>
    </div>
}