@model (int newsId, CommentsListViewModel commentsList)

<div id="comments">
    <h3><span id="comments-count">@Model.commentsList.TotalCount</span> Comments</h3>
    <hr align="left" />

    <div id="addComment">
        <form class="form-group"
              data-ajax="true"
              data-ajax-method="post"
              data-ajax-success="commentsModule.handleSuccess"
              data-ajax-failure="commentsModule.handleError"
              data-ajax-update="#existingComments"
              data-ajax-mode="after"
              data-ajax-url="/Comments/Post">
            @{
                string disable = string.Empty;
                string placeholder = "Write a comment...";

                if (!User.Identity.IsAuthenticated)
                {

                    disable = "disabled=\"disabled\"";
                    placeholder = "Sign in to comment...";
                }

                <input type="hidden" name="NewsId" id="newsIdHidden" value="@Model.newsId" />
            }

            <textarea name="Content" class="form-control" maxlength="@ValidationConstants.COMMENT_MAX_CONTENT_LENGTH" rows="5" @disable placeholder="@placeholder"></textarea>
            <input type="submit" class="form-control btn btn-success" @disable value="Comment" />
        </form>
    </div>

    <div id="existingComments">
        @if (Model.commentsList.TotalCount > PublicConstants.TAKE_COMMENTS)
        {
            int id = Model.commentsList.Comments.Last().Id;

            <a href=""
               data-ajax="true"
               data-ajax-method="get"
               data-ajax-mode="after"
               data-ajax-update="#existingComments"
               data-ajax-success="commentsModule.setNextId"
               data-ajax-failure="commentsModule.handleError"
               data-ajax-url="/Comments/Get?id=@id&newsId=@Model.newsId"
               id="viewMoreComments"
               class="btn btn-link">View more comments</a>

            <input type="hidden" value="@id" id="lastCommentId" />
        }

        <partial name="_CommentsListPartial" model="@Model.commentsList.Comments" />
    </div>
</div>