@model NewsViewModel;

@{
    ViewData["Title"] = Model.Title;
}

@section Styles {
    <link rel="stylesheet" href="~/css/get-news.css" />
}

<div class="card mb-3">
    <div class="card-body">
        <h1 class="card-title">@Model.Title</h1>
        <div class="card-text">
            <div>
                <small class="text-muted news-source">
                    Source:
                    <span>
                        <a href="@Model.RemoteUrl">@Model.Source.Name</a>
                    </span>
                </small>
            </div>

            <div>
                <small class="text-muted news-created">
                    Created:
                    <span>
                        @Model.CreatedOn.ToString("dd/MM/yyyy HH:mm")
                    </span>
                </small>
            </div>

            <div>
                <small class="text-muted news-breadcrumb">
                    <span>
                        <a asp-controller="News" asp-action="Search" asp-route-category="@Model.Subcategory.Category.Name">
                            @Model.Subcategory.Category.Name
                        </a>
                    </span>/
                    <span>
                        <a asp-controller="News" asp-action="Search" asp-route-subcategory="@Model.Subcategory.Name">
                            @Model.Subcategory.Name
                        </a>
                    </span>/
                    <span class="active">@Model.Title</span>
                </small>
            </div>
        </div>

        @if (!string.IsNullOrEmpty(Model.MainImageUrl))
        {
            <img class="card-img-top" src="@Model.MainImageUrl" />
        }

        <p class="card-text"><small class="text-muted">@Html.Raw(Model.Description)</small></p>
        <div class="card-body">@Html.Raw(Model.Content)</div>
    </div>
</div>

<partial name="_CommentsPartial" model="(Model.Id, Model.Comments)" />

@section Scripts {
    <script src="~/lib/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.min.js"></script>

    <script>
        function handleSuccesfulComment(xhr) {
            let commentsCount = parseInt($('#comments #comments-count').html(), 10);
            commentsCount += 1;

            $('#comments #comments-count').html(commentsCount);
            $('#addComment textarea').val('');
        }

        function handleFailedComment(xhr) {
            alert(xhr.responseText);
        }
    </script>
}